# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\todor\Desktop\Repos\Flipped\flipped-java\03. HQC\03. Streaming API & Lambdas\In-Class Activity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
